[submodule "server-side-bvbortz"]
	path = store_backend_service
	url = git@github.com:yesodot-course/server-side-bvbortz.git
[submodule "midterm-client-side-bvbortz"]
	path = store_frontend
	url = git@github.com:yesodot-course/midterm-client-side-bvbortz.git
[submodule "store_producer_service"]
	path = store_producer_service
	url = git@github.com:bvbortz/store_producer_service.git
[submodule "store_receiver_service"]
	path = store_receiver_service
	url = git@github.com:bvbortz/store_receiver_service.git
[submodule "store_aggregations_service"]
	path = store_aggregations_service
	url = git@github.com:bvbortz/store_aggregations_service.git
